
.content{
	background-image: url('../images/img_order/background_order.png');
	height: 300px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.logo{
	width: 30px;
	height: 30px;
}
.form-inline{
	float: right;
}
.img{
	width: 60px;
	height: 90px;
}
.product{
	font-size: 12px;
}
.Suggestions{
	border-radius: 5px;
	border: 1px solid black;
	width: 80%;
	height: 35%;
    margin-right: 12px;
    columns: #333333;
    cursor: pointer;
    transition: 0.3s;
}
.Suggestions:hover{
	transform: scale(1.1);
}
.Information{
	border: 1px solid black;
	color: black;
}
.Your-cart{
	float: right;
}
.address{
	border-radius: 10px;
	background-color: #ffcccc;
	color: black;
	border: 1px solid #ff4d4d;
}
.buy{
	border-radius: 4px;
	width: 90%;
	height: 40px;
}
.buy:hover{
	transform: scale(1.04);
}
.footer{
	background-color: black;
}
