.card-container{
    background-image: url("../images/img_profile/bg-img.png");
    font-family: "Nunito";
    font-size: 70%!important;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
  }
  .card-profile{
    background:black;
    border-radius:10px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0px 3px 15px white;
    padding: 40px 10px 80px 10px;
    color: white;
  }
  img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  justify-content: center;
  animation: move 5s infinite;
  clip-path:circle(50%);
  }
  @keyframes move {
    50%{
      clip-path:circle(40%);
    }
  }
  button{
      border:1px solid white;
    padding: 10px 20px;
    border-radius: 50px!important;
    background:black;
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-top:10px;
    font-weight: 600;
  
  }
  ul li{
      display: inline;
  }
  .fab{
      padding: 0.7rem;
      border: 1px solid white;
      background-color: black;
      color: white;
  }
  .head{
    display: flex;
    justify-content:center;
  
  }
  .title{
   padding: 5px;
  }
  